.Location {
    width: 200px;
    height: 70px;
    position: absolute;
    display: block;
    top: 5px;
    left: 100px;
    font-family: 'Jost', sans-serif;
}
.Location__text{
    width: 200px;
    height: 70px;
   
    display: flex;
    flex-direction: row;
    img{
        width: 20px;
        height: 20px;
        margin-top: 3px;
    }
    p{
        margin-left: 10px;
        color: white;
        cursor: pointer;
        &:hover{
          color: #468966;
        }
    }
}
.Location__modal {
    width: 1500px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    z-index: 10;
    left: 100%;
    top: 20%;
    overflow: hidden; /* Добавляем скрытие содержимого, выходящего за границы блока */
    
    img {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      transition: 0.5s;
      z-index: 100;
      cursor: pointer;
  
      &:hover {
        transition: 0.5s;
        transform: rotate(180deg);
      }
    }
  }