.slider{
    width: 955px;
    height: 547px;
    border-radius: 15px;
}
.slider__slide{
    width: 955px;
    height: 523px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.slider__slide-img{
    width: 955px;
    height: 523px;
}
.slider__slide-p{
    display: block;
    position: absolute;
    margin-top: -76px;
    margin-left: 26px;
    color: white;
    font-size: 40px;
}